<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
<meta charset="utf-8" />

<title th:text="'Viendo el formador ' + ${formador.nombreFormador}">Formadores</title>

<!-- CSS Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- JS Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

</head>

<body>
	<div th:replace="plantillaNavs::navAdmin"></div>
	<div class="container mt-3">
		<div class="row mt-2">
			<div clas="col-12">
				<h3 th:text="${formador.nombreFormador}"></h3>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 mt-2">
				<div th:if="${#lists.isEmpty(clientesId)}"
					th:text="${'No hay asignado ningún cliente'}"
					class="alert alert-danger"></div>
				<div th:if="${#lists.isEmpty(zonasId)}"
					th:text="${'No hay asignada ninguna zona'}"
					class="alert alert-danger"></div>

			</div>
		</div>
		<div class="row mt-2">
			<div class="col-4 mt-2">
				<a th:href="@{/index}" class="btn btn-success">Volver a Inicio</a>
			</div>
		</div>

		<div class="row border-top border-dark mt-2">
			<div class="col-3">
				<h5 class="mt-2">Datos del formador</h5>
			</div>
			<div class="col-3 align-items-bottom">
				<button class=" btn btn-secondary" id="botonMostrarFormador"
					onclick="javascript:mostrar();">Mostrar</button>
				<button class="btn btn-secondary" id="botonOcultarFormador"
					onclick="ocultar();" style="display: none">Ocultar</button>
			</div>
		</div>

		<div class="row mt-2" id="datosFormador" style="display: none">
			<div class="col-12 mt-2" th:replace="formadorNuevo::editaFormador"></div>

			<div class="col-12 mt-2">
				<a class="btn btn-danger rounded"
					th:href="@{/formadorEliminar/} + ${formador.idFormador}"}>Eliminar
					Formador definitivamente</a>
			</div>
		</div>

		<div class="col-12 border-top border-dark mt-2">

			<ul class="nav nav-tabs mt-2" id="formadorTab" role="tablist">

				<li class="nav-item" role="presentation"><a class="nav-link"
					id="clientesFormador-tab" data-toggle="tab"
					href="#clientesFormador" role="tab"
					aria-controls="clientesFormador" aria-selected="false">Clientes</a></li>

				<li class="nav-item" role="presentation"><a class="nav-link"
					id="zonasFormador-tab" data-toggle="tab" href="#zonasFormador"
					role="tab" aria-controls="zonasFormador" aria-selected="false">Zonas</a></li>

				<li class="nav-item" role="presentation"><a class="nav-link"
					id="formacionesFormador-tab" data-toggle="tab"
					href="#formacionesFormador" role="tab"
					aria-controls="formacionesFormador" aria-selected="false">Formaciones</a></li>

				<li class="nav-item" role="presentation"><a class="nav-link"
					id="visitasFormador-tab" data-toggle="tab" href="#visitasFormador"
					role="tab" aria-controls="visitasFormador" aria-selected="false">Visitas</a></li>

			</ul>


			<div class="tab-content" id="formadorTabContent">

				<!-- TAB-CLIENTES -->
				<div class="tab-pane fade show active" id="clientesFormador"
					role="tabpanel" aria-labelledby="clientesFormador-tab">
					<form th:action="@{/asignaClienteFormador/} + ${formador.idFormador}"
						th:object="${cliente}" th:method="POST">
						<div class="form-row mt-2">

							<div class="col-4 mt-2">
								<select id="clienteFormador" class="form-control"
									th:field="*{idCliente}">
									<option th:each="cliente:${clientes}"
										th:text="${cliente.nombreCliente}"
										th:value="${cliente.idCliente}"></option>
								</select>
							</div>

							<div class="col-4 mt-2">
								<input type="submit" class="btn btn-success" value="Asignar">
							</div>
						</div>
					</form>

					<div class="row mt-2">
						<div class="col-6 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th>Nombre</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody class="tbody-light align-items-center">
									<tr th:each="cliente : ${clientesId}">
										<td th:text="${cliente.nombreCliente}"></td>
										<td><a class="badge badge-danger"
											th:href="@{/formadorEliminarCliente/} + ${idFormador} + '/' + ${cliente.idCliente}"
											th:text="'Eliminar'"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!--FIN TAB-CLIENTES -->
				
				<!-- TAB-ZONAS -->
				<div class="tab-pane fade" id="zonasFormador" role="tabpanel"
					aria-labelledby="zonasFormador-tab">
					<div class="container mt-3">
						<div class="row">
							<div class="col-12">
								<form th:action="@{/asignaZonaFormador/} + ${formador.idFormador}"
									th:object="${zona}" th:method="POST">
									<div class="form-row mt-2">

										<div class="col-4 mt-2">
											<select id="zonaFormador" class="form-control"
												th:field="*{idZona}">
												<option th:each="zona:${zonasId}"
													th:text="${zona.nombreZona}"
													th:value="${zona.idZona}"></option>
											</select>
										</div>

										<div class="col-4 mt-2">
											<input type="submit" class="btn btn-success" value="Asignar">
										</div>
									</div>
								</form>
							</div>
							<div class="col-6 mt-2">
								<table class="table table-striped table-sm">
									<thead class="thead-dark">
										<tr>
											<th>Nombre</th>
											<th colspan="2">Acciones</th>
										</tr>
									</thead>
									<tbody class="tbody-light align-items-center">
										<tr th:each="zona : ${zonasAsignadas}">
											<td th:text="${zona.nombreZona}"></td>
											<td><a class="nav-link badge badge-danger"
												th:href="@{/formadorEliminarZona/} + ${formador.idFormador} + '/' + ${zona.idZona}">Eliminar</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-12"></div>
						</div>
					</div>
				</div>
				<!-- FIN TAB-ZONAS -->
				
				<!-- TAB-FORMACIONES -->
				<div class="tab-pane fade" id="formacionesFormador" role="tabpanel"
					aria-labelledby="formacionesFormador-tab">

					<div class="container mt-3">
						<div class="row">
							<div class="col-12">
								<form th:action="@{/asignaFormacionFormador/} + ${formador.idFormador}"
									th:object="${formacion}" th:method="POST">
									<div class="form-row mt-2">

										<div class="col-4 mt-2">
											<select id="formacionFormador" class="form-control"
												th:field="*{idFormacion}">
												<option th:each="formacion:${formacionesId}"
													th:text="${formacion.nombreFormacion}"
													th:value="${formacion.idFormacion}"></option>
											</select>
										</div>

										<div class="col-4 mt-2">
											<input type="submit" class="btn btn-success" value="Asignar Formación">
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-12 mt-2">
								<table class="table table-striped table-sm">
									<thead class="thead-dark">
										<tr>
											<th>Nombre</th>
											<th colspan="2">Acciones</th>
										</tr>
									</thead>
									<tbody class="tbody-light align-items-center">
										<tr th:each="formacion:${formacionesAsignadas}">
											<td th:text="${formacion.nombreFormacion}"></td>
											<td><a class="nav-link badge badge-danger"
												th:href="@{/formadorEliminarFormacion/} + ${formador.idFormador} + '/' + ${formacion.idFormacion}"
												th:if="${formacion.idFormacion}">Eliminar</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- FIN TAB-FORMACIONES -->
				
				<!-- TAB-VISITAS -->
				<!-- TAB-VISITAS -->
				
			</div>
		</div>

		<script>
			function mostrar() {
				document.getElementById('botonMostrarFormador').style.display = 'none';
				document.getElementById('botonOcultarFormador').style.display = 'block';
				document.getElementById('datosFormador').style.display = 'block';
			}
			function ocultar() {
				document.getElementById('botonMostrarFormador').style.display = 'block';
				document.getElementById('botonOcultarFormador').style.display = 'none';
				document.getElementById('datosFormador').style.display = 'none';
			}
		</script>
</body>

</html>