<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
<meta charset="utf-8" />

<title>Incidencia Nueva</title>

<!-- CSS Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- JS Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

</head>

<body>
	<div th:replace="../static/plantillas/plantillasWeb::navAdmin"></div>
	<div class="row">
		<div class="col-12">
			<div class="col-12"></div>
			<div class="col-12">
				<form class="form" th:action="@{/incidenciaNueva}" th:object="${incidencia}" method="POST">
					<div class="form-group row">
					<div class="col-1">
							<label for="idIncidencia">Id</label>	
							<input readonly type="text" th:field="*{idIncidencia}"  class="form-control " id="idIncidencia"/>	
						</div>		
						<div class="col-2">
							<label for="nombreIncidencia">Nombre</label>	
							<input type="text" th:field="*{nombreIncidencia}" class="form-control" id="nombreIncidencia"/>	
						</div>			
					</div>
					<div class="form-group row">
						<div class="col-2">
							<input type="submit" value="Guardar" class="btn btn-info"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>