<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
<meta charset="utf-8" />

<title>Indice</title>

<!-- CSS Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"/>

<!-- JS Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

</head>

<body>

	<div th:switch="${segInicio}">
		<div th:case="0">
			<div th:replace="plantillaNavs::navAdminGuia"></div>
			<div th:replace="plantillaNavs::alertGuia1"></div>
		</div>

		<div th:case="1">
			<div th:replace="plantillaNavs::navAdminGuia">></div>
			<div th:replace="plantillaNavs::alertGuia2"></div>
		</div>
		<div th:case="*">
			<div th:replace="plantillaNavs::navAdmin"></div>
			<div class="container">
		<div class="row mt-4 mb-4 border border-dark">
			<div class="col-12 mt-2 text-center">
				<h3>Clientees</h3>
			</div>
			<div class="col-12 mt-2">
				<a th:href="@{/clienteNuevo}" class="btn btn-success">Añadir
					Cliente</a>
			</div>
			<div th:each="cliente:${clientees}" class="col-3 mt-2">
				<a th:href="@{/clienteVer/} + ${cliente.idCliente}"
					th:text="${cliente.nombreCliente}"
					class="btn btn-info rounded text-center mx-auto d-block mb-4"></a>
			</div>
		</div>
		<div class="row mt-4 mb-4 border border-dark">
			<div class="col-12 mt-2 text-center">
				<h3>Formadores</h3>
			</div>
			<div th:replace = "formadorConsulta::formadorConsulta" class="mb-4"></div>
		</div>
	</div>
		</div>
	</div>

	
</body>

</html>