<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
<meta charset="utf-8" />

<title th:text="'Viendo el proveedor: ' + ${proveedor.nombreProveedor}">Proveedores</title>

<!-- CSS Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- JS Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

</head>

<body>
	<div th:replace="plantillaNavs::navAdmin"></div>
	<div class="container mt-3">
		<div class="row mt-2">
			<div clas="col-12">
				<h3 th:text="${proveedor.nombreProveedor}"></h3>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 mt-2">
				<div th:if="${#lists.isEmpty(listaZonasId)}"
					th:text="${'No hay creada ninguna zona'}"
					class="alert alert-danger"></div>
				<div th:if="${#lists.isEmpty(campagnasId)}"
					th:text="${'No hay creada ninguna campaña'}"
					class="alert alert-danger"></div>
				<div th:if="${#lists.isEmpty(franquiciasId)}"
					th:text="${'No hay creada ninguna franquicia'}"
					class="alert alert-danger"></div>
				<div th:if="${#lists.isEmpty(tiendasId)}"
					th:text="${'No hay creada ninguna tienda'}"
					class="alert alert-danger"></div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-4 mt-2">
			<a th:href="@{/index}" class="btn btn-success">Volver a Inicio</a>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-12 border-top border-dark">
			<h5>Datos del proveedor</h5>
		</div>
		<div class="col-12 mt-2">
			<a class="btn btn-warning rounded"
				th:href="@{/proveedorNuevo/} + ${proveedor.idProveedor}">Editar</a>
			<a class="btn btn-danger rounded"
				th:href="@{/proveedorEliminar/} + ${proveedor.idProveedor}"}>Eliminar</a>
		</div>
	</div>

	<div class="col-12 border-top border-dark mt-2">

		<ul class="nav nav-tabs mt-2" id="proveedorTab" role="tablist">

			<li class="nav-item" role="presentation"><a
				class="nav-link active" id="zonasProveedor-tab" data-toggle="tab"
				href="#zonasProveedor" role="tab" aria-controls="zonasProveedor"
				aria-selected="true">Zonas</a></li>

			<li class="nav-item" role="presentation"><a class="nav-link"
				id="campagnaProveedor-tab" data-toggle="tab"
				href="#campagnaProveedor" role="tab"
				aria-controls="campagnaProveedor" aria-selected="false">Campañas</a></li>

			<li class="nav-item" role="presentation"><a class="nav-link"
				id="franquiciaProveedor-tab" data-toggle="tab"
				href="#franquiciaProveedor" role="tab"
				aria-controls="franquiciaProveedor" aria-selected="false">Franquicias</a></li>

			<li class="nav-item" role="presentation"><a class="nav-link"
				id="tiendaProveedor-tab" data-toggle="tab" href="#tiendaProveedor"
				role="tab" aria-controls="tiendaProveedor" aria-selected="false">Tiendas</a></li>

			<li class="nav-item" role="presentation"><a class="nav-link"
				id="formadorProveedor-tab" data-toggle="tab"
				href="#formadorProveedor" role="tab"
				aria-controls="formadorProveedor" aria-selected="false">Formadores</a></li>

			<li class="nav-item" role="presentation"><a class="nav-link"
				id="formacionProveedor-tab" data-toggle="tab"
				href="#formacionProveedor" role="tab"
				aria-controls="formacionProveedor" aria-selected="false">Formaciones</a></li>
		</ul>


		<div class="tab-content" id="proveedorTabContent">

			<!-- TAB-ZONAS -->
			<div class="tab-pane fade show active" id="zonasProveedor"
				role="tabpanel" aria-labelledby="zonasProveedor-tab">
				<div class="container mt-3">
					<div class="row">
						<div class="col-12">
							<a th:href="@{/zonaNuevaProveedor/} + ${idProveedor}"
								class="btn btn-success">Añadir Zona</a>
						</div>
						<div class="col-6 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th>Nombre</th>
										<th>Proveedor</th>
										<th colspan="2">Acciones</th>
									</tr>
								</thead>
								<tbody class="tbody-light align-items-center">
									<tr th:each="zona : ${listaZonasId}">
										<td th:text="${zona.nombreZona}"></td>
										<td th:text="${zona.proveedor.nombreProveedor}"></td>
										<td><a class="nav-link badge badge-warning"
											th:href="@{/zonaNuevaProveedor/} + ${zona.idZona} + ${'/'} + ${proveedor.idProveedor}">Editar</a></td>
										<td><a class="nav-link badge badge-danger"
											th:href="@{/eliminarZonaProveedor/} + ${zona.idZona}">Eliminar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-12"></div>
					</div>
				</div>
			</div>

			<!-- TAB-CAMPAÑAS -->
			<div class="tab-pane fade" id="campagnaProveedor" role="tabpanel"
				aria-labelledby="campagnaProveedor-tab">

				<div class="container mt-3">
					<div class="row">
						<div class="col-12">
							<a th:href="@{/campagnaNuevaProveedor/} + ${idProveedor}"
								class="btn btn-success">Añadir Campaña</a>
						</div>
						<div class="col-12 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th>Nombre</th>
										<th>Proveedor</th>
										<th>Inicio</th>
										<th>Fin</th>
										<th>Estado</th>
										<th colspan="4">Acciones</th>
									</tr>
								</thead>
								<tbody class="tbody-light align-items-center">
									<tr th:each="campagna : ${campagnasId}">
										<td th:text="${campagna.nombreCampagna}"></td>
										<td th:text="${campagna.proveedor.nombreProveedor}"></td>
										<td
											th:text="${#dates.format(campagna.dInicioCampagna, 'dd/MM/yyyy')}"></td>
										<td
											th:text="${#dates.format(campagna.dFinCampagna, 'dd/MM/yyyy')}"></td>
										<td th:text="${campagna.estadoCampagna.nombreEstadoCampagna}">
										<td></td>
										<td><a class="nav-link badge badge-warning"
											th:href="@{/campagnaEditaProveedor/} + ${campagna.idCampagna} + '/' +  ${proveedor.idProveedor}">Editar</a></td>
										<td><a class="nav-link badge badge-danger"
											th:href="@{/eliminarCampagnaProveedor/} + ${campagna.idCampagna}">Eliminar</a></td>
										<td th:text="${titulo}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- TAB-FRANQUICIAS -->
			<div class="tab-pane fade" id="franquiciaProveedor" role="tabpanel"
				aria-labelledby="franquiciaProveedor-tab">

				<div class="container mt-3">
					<div class="row">
						<div class="col-12">
							<a th:href="@{/franquiciaNuevaProveedor/} + ${idProveedor}"
								class="btn btn-success">Añadir Franquicia</a>
						</div>
						<div class="col-12 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th>Nombre</th>
										<th>Proveedor</th>
										<th colspan="3">Acciones</th>
									</tr>
								</thead>
								<tbody class="tbody-light align-items-center">
									<tr th:each="franquicia : ${franquiciasId}">
										<td th:text="${franquicia.nombreFranquicia}"></td>
										<td th:text="${franquicia.proveedor.nombreProveedor}"></td>
										<td><a class="nav-link badge badge-warning"
											th:href="@{/franquiciaEditaProveedor/} + ${franquicia.idFranquicia} + '/' + ${idProveedor}">Editar</a></td>
										<td><a class="nav-link badge badge-danger"
											th:href="@{/eliminarFranquiciaProveedor/} + ${franquicia.idFranquicia}"}>Eliminar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

			<!-- TAB-TIENDAS -->
			<div class="tab-pane fade" id="tiendaProveedor" role="tabpanel"
				aria-labelledby="tiendaProveedor-tab">

				<div class="container mt-3">
					<div class="row">
						<div class="col-12">
							<div class="alert alert-danger" id="errorNoHayFranquicia"
								th:if="${#lists.isEmpty(franquiciasId)}"
								th:text="${'Debes crear una Franquicia antes que una Tienda'}"></div>
							<div class="alert alert-danger" id="errorNoHayZona"
								th:if="${#lists.isEmpty(listaZonasId)}"
								th:text="${'Debes crear una Zona antes que una Tienda'}"></div>
						</div>
						<div class="col-12">
							<a th:href="@{/tiendaNuevaProveedor/} + ${idProveedor}"
								th:if="${#lists.size(franquiciasId) > 0} and ${#lists.size(listaZonasId) > 0}"
								class="btn btn-success">Añadir Tienda</a>
						</div>
						<div class="col-12 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th th:text="'Nombre'"></th>
										<th th:text="'Proveedor'"></th>
										<th th:text="'Zona'"></th>
										<th th:text="'Franquicia'"></th>
										<th th:text="'Acciones'" colspan="3" class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="tienda : ${tiendasId}">
										<td th:text="${tienda.nombreTienda}"></td>
										<td th:text="${tienda.franquicia.proveedor.nombreProveedor}"></td>
										<td th:text="${tienda.zona.nombreZona}"></td>
										<td th:text="${tienda.franquicia.nombreFranquicia}"></td>
										<td><a class="nav-link badge badge-warning"
											th:href="@{/tiendaEditaProveedor/} + ${tienda.idTienda} + '/' + ${proveedor.idProveedor}">Editar</a></td>
										<td><a class="nav-link badge badge-danger"
											th:href="@{/eliminarTiendaProveedor/} + ${tienda.idTienda}">Eliminar</a></td>
										<td><a class="nav-link badge badge-info"
											th:href="@{/tiendaVer/} + ${tienda.idTienda}">Ver</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>


			<!-- TAB-FORMADORES -->
			<div class="tab-pane fade" id="formadorProveedor" role="tabpanel"
				aria-labelledby="formadorProveedor-tab">

				<div class="container mt-3">



					<form th:action="@{/proveedorVer/} + ${proveedor.idProveedor}"
						th:object="${formador}" th:method="POST">

						<div class="form-row mt-2">

							<div class="col-4 mt-2">
								<select id="proveedorFormador" class="form-control"
									th:field="*{idFormador}">
									<option th:each="formador:${formadores}"
										th:text="${formador.nombreFormador} + ' ' + ${formador.ap1Formador} + ' ' + ${formador.ap2Formador}"
										th:value="${formador.idFormador}"></option>
								</select>
							</div>

							<div class="col-2 mt-2">
								<input type="submit" class="btn btn-success" value="Asignar">
							</div>
						</div>
					</form>

					<div class="row mt-2">
						<div class="col-12 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th>Nif</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Teléfono</th>
										<th>Mail</th>
										<th colspan="2">Acciones</th>
									</tr>
								</thead>
								<tbody class="tbody-light align-items-center">
									<tr th:each="formador : ${formadoresId}">
										<td th:text="${formador.nifFormador}"></td>
										<td th:text="${formador.nombreFormador}"></td>
										<td th:text="${formador.ap1Formador}"></td>
										<td th:text="${formador.tel1Formador}"></td>
										<td th:text="${formador.mail1Formador}"></td>
										<td><a class="nav-link badge badge-warning"
											th:href="@{/formadorNuevo/} + ${formador.idFormador}">Editar</a></td>
										<td><a class="nav-link badge badge-danger"
											th:href="@{/proveedorEliminarFormador/} + ${proveedor.idProveedor} + '/' + ${formador.idFormador}">Eliminar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


			<!-- TAB-FORMACIONES -->
			<div class="tab-pane fade" id="formacionProveedor" role="tabpanel"
				aria-labelledby="formacionProveedor-tab">

				<div th:fragment="formacionConsulta" class="container mt-3">
					<div class="row">
						<div class="col-12 alert alert-danger"
							th:text="${'Para añadir una formación, debe haber al menos una Campaña creada'}"
							th:if="${#lists.isEmpty(campagnasId)}"></div>
						<div class="col-12">
							<a th:href="@{/formacionNuevaProveedor/} + ${idProveedor}"
								th:text="${'Añadir Formación'}"
								th:if="${#lists.size(campagnasId) > 0}" class="btn btn-success"></a>
						</div>
						<div class="col-12 mt-2">
							<table class="table table-striped table-sm">
								<thead class="thead-dark">
									<tr>
										<th>Nombre</th>
										<th>Campaña</th>
										<th colspan="2">Acciones</th>
									</tr>
								</thead>
								<tbody class="tbody-light align-items-center">
									<tr th:each="formacion : ${formacionesId}">
										<td th:text="${formacion.nombreFormacion}"></td>
										<td th:text="${formacion.campagna.nombreCampagna}"></td>
										<td><a class="nav-link badge badge-warning"
											th:href="@{/formacionNueva/} + ${formacion.idFormacion}"
											th:if="${formacion.idFormacion}">Editar</a></td>
										<td><a class="nav-link badge badge-danger"
											th:href="@{/eliminaFormacion/} + ${formacion.idFormacion}"
											th:if="${formacion.idFormacion}">Eliminar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>